<section class="about" id="about"> 
    <h2>About</h2>

    <div class="container">
        <img class="profile" src='/img/profile.png' alt="carrie profile picture" >

        <div class="content">
        <p>Carrie is a UX/UI Designer, focus in Information Architecture, User Experience and User Interface
                Design. She is well equipped with design knowledge and solid experience in the design industry. She has
                worked for agency, corporate and retail environments with experience working on B2B and B2C clients.
        </p>
        <p>She is a user-centred designer adopting the principles of UCD methodology from user research to define
                audiences and concept to execution to deliver the design or end product in Agile process. She is a
                highly motivated and ambitious individual who is adaptable to changes and makes the most of these in
                any field. 
        </p>
        <p>You can know more about her 
                <a href="/img/CV_LauKaHeiCarrie_infographic.pdf" download class="infocv">Visually</a> or
                <a href="/img/CV_LauKaHeiCarrie.docx" download class="cv">Textually</a>.
        </p>
        </div>
    </div>


</section>