---
---


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: '{{ site.fonts.primary }}', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    padding-bottom: 32px;
}


.btn-success{
    background-color: #fff;
	color: #4682B4;
    border-color: #4682B4;
}
.btn-success:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;		
}

.navbar{
    color:#000;
    background-color: #fff; 
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-brand {
    color: #000;
}

.description {
    font-family: '{{ site.fonts.primary }}', sans-serif;
    padding: 16px 0;
    display: inline-block;
    max-width: 700px;
    font-size:32px;

    text-align: left;
}

.skills {
    font-family: '{{ site.fonts.primary }}', sans-serif;
    font-weight: 700;
    text-align: left;
}

section.success{
    color: #000;
    background-color: #f2f2f2;
}

form .row:first-child .floating-label-form-group{
    border-top: none;
}

.navbar-brand img{
    z-index: 2;
    width: 80px;
    height:40px;
}



.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #fff;
    color:#0000ee!important;
}

.navbar-default .navbar-nav>li>a {
    font-size: 24px;
    text-decoration: none;
    /* needs to be non-inline */
    display: inline-block;
    position: relative;
}

.navbar-default .navbar-nav>li>a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.1em;
    background-color: currentColor;
    width: 0;
    transition: width 1s, left 1s;
}

.navbar-default .navbar-nav>li>a:hover:after {
    width: 100%;
  }


/* .navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
    color:#BDE8C1;
} */

section#about.about{
    padding: 40px;
    background-color: #{{ site.color.primary}};
}

section.about h2, section#contact h2{
    padding: 16px 0;
    text-align: center;
}
section.about div.container {
    display: flex;
    align-items: center;
}

section.about div.container img.profile {
    margin-right: 32px;
    width: 100%;
    border-radius: 100%;
}

section.about div.container p{
    margin: 20px 0 20px 0;
}


section.about a{
    color: #0000ee;
    }

section.about a.infocv:hover, a.cv:hover{
color: #000;
}

.btn:hover, .btn:focus {
    color: #000;
    border-radius: none;
}


a {
    font-size: 24px;
    font-family: '{{ site.fonts.primary }}', sans-serif;
    color: #0000ee;
    text-decoration: none;
  
    /* needs to be non-inline */
    display: inline-block;
    position: relative;
  }

/* contact css */
section#contact {
    justify-content: center;
    padding: 40px;
}

form#contactform {
    max-width:420px; 
    margin:50px auto;
    margin: 0 auto;
    justify-content: space-between;
}

.feedback-input {
  color:#000;
  font-family: '{{ site.fonts.primary }}', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 24px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #0000ee; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: '{{ site.fonts.primary }}', sans-serif;
  font-size:24px;

  width: 100%;
  color: #eee;
  position: relative;
  background-color: #000;
  border: none;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}
[type="submit"]:hover { 
    background:#0000ee;
}


footer {
    background: #{{ site.color.secondary-dark }};
}

footer div.row {
    display: flex;
    justify-content: space-around;
}

/* mobile top nav */
button.navbar-toggle {
    background-color: #000;
}

/* mobile bottom nav */

a.btn.btn-primary {
    background-color: #0000ee;
}