---
---


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    padding-bottom: 32px;
}
.btn-success{
    background-color: #fff;
	color: #4682B4;
    border-color: #4682B4;
}
.btn-success:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;		
}

.navbar{
    color:#000;
    background-color: #fff; 
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-brand {
    color: #000;
}

.description {
    font-family: 'Karla', sans-serif;
    padding: 16px 0;
    display: inline-block;
    max-width: 700px;
    font-size:24px;

    text-align: left;
}

.skills {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-align: left;
}

section.success{
    color: #000;
    background-color: #f2f2f2;
}

form .row:first-child .floating-label-form-group{
    border-top: none;
}

.navbar-brand img{
    z-index: 2;
    width: 80px;
    height:40px;
}



.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #fff;
    color:#BDE8C1!important;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
    color:#BDE8C1;
}

section#about.success .row p{
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
}

/* Download CV button */
.btn-lg, .btn-group-lg>.btn {
border-radius: none;
border: 1.2px solid #000;
cursor: pointer;
}

.btn:hover, .btn:focus {
    color: #000;
    border-radius: none;
}
a {
    color: #0000ee;
}

/* contact css */
.floating-label-form-group input, .floating-label-form-group textarea{
    font-family: 'Karla';
    color: #000;
}


footer {
    background: #{{ site.color.secondary-dark }};
}

footer div.row {
    display: flex;
    justify-content: space-around;
}

/* mobile top nav */
button.navbar-toggle {
    background-color: #000;
}

/* mobile bottom nav */

a.btn.btn-primary {
    background-color: #0000ee;
}